body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #333;
    background: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    /* justify-content: center; */
}
.form-group label {
    text-align: left;
}

main {
    padding: 20px;
    text-align: center;
    min-height: 80vh;
}

.recipe-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.recipe-card h3 {
    color: #4CAF50;
}

.recipe-card p {
    font-size: 16px;
    color: #666;
}

.recipe-card img {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
}

button, .dropdown-btn {
    background-color: rgb(16, 173, 55);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.30s ease, transform 0.3s ease;
}

button:hover, .dropdown-btn:hover {
    background-color: #374b38;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.dropdown-content {
    margin-top: 10px;
    display: none;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    transform-origin: top;
}

.dropdown-btn.active + .dropdown-content {
    display: block;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

footer {
    text-align: center;
    padding: 20px 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-nav .nav-item {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .recipe-card {
        width: 90%;
    }
}
